/* Poppins-Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* Roboto-Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto-regular {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
  

*{
    margin: 0%;
    padding: 0%;
}
:root {
    --primary-font-color: rgb(58, 58, 58);
    --primary-color: rgba(224, 44, 109, 0.87);
}

/*        */
/* Header */
/*        */
header {
    padding: 3% 7%;
}
nav {
    display: flex;
    align-items: center;
}
nav .menu {
    display: none;
}
nav .page-title {
    margin-right: auto;
    font-size: 1.25rem;
    font-weight: 700;
}
nav .item-layout {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .item-layout .item , .item-fixed {
    width: fit-content;
    margin-left: 35px;
    color: var(--primary-font-color);
    font-size: 1rem;
    font-weight: 600;
}

nav .item-layout .item i , .item-fixed i{
    font-size: 24px;
    margin-left: 12px;
}














/*        */
/*  main  */
/*        */
main {
    padding: 0% 7%;
}

/*  section (1)  */
.section-1 {
    display: flex;
    justify-content: space-around;
}

.section-1 .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.section-1 .left h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}

.section-1 .left p {
    width: 65%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.section-1 .left button {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    border: none;
    background: var(--primary-color);
    color: white;
}

.section-1 .right {
    background-image: url("../assets/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: flex-end;
    padding: 10% 2% 10% 10%;
}

.section-1 .right img {
    width: 440px;
}








/*  section (2)  */
.section-2 {
    margin: 3% 0;
}

.section-2 .divider {
    height: 1px;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
}

.section-2 .item-layout {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 24px 0;
}

.section-2 .item-layout .item {
    display: flex;
    align-items: center;
    justify-content: center;
}








/*  section (3)  */
.section-3 {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-3 > h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}

.section-3 .item-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}

.section-3 .item-layout .item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 5%;
}

.section-3 .item-layout .item .image-layout {
    width: 100%;
}

.section-3 .item-layout .item .image-layout img {
    width: 100%;
    height: fit-content;
}

.section-3 .item-layout .item .product-title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 10px;
}

.section-3 .item-layout .item .product-prize {
    font-size: 1.5rem;
    font-weight: 400;
}

.section-3 .item-layout .item .rating-layout {
    margin: 8px 0;
}

.section-3 .item-layout .item .rating-layout i {
    font-size: 12px;
    color: orange;
}

.section-3 .item-layout .item .rating {
    font-size: 1rem;
    font-weight: 700;
}

.section-3 .item-layout .item p {
    color: rgb(120, 120, 133);
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.8%;
    text-align: left;
}

.section-3 > h5 {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin: 10px 0;
}











/*  section (4)  */
.section-4 {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    margin: 5% 0 10% 0;
}

.section-4 .left {
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
}

.section-4 .left img {
    width: 440px;
}

.section-4 .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-left: 5%;
}

.section-4 .right h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}

.section-4 .right p {
    width: 65%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.section-4 .right button {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    border: none;
    background: var(--primary-color);
    color: white;
}













/*        */
/* Footer */
/*        */
footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    padding: 5% 0%;
}

footer > h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

footer > p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

footer .item-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer .item-layout .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 5%;
    background-color: rgb(38, 37, 37);
    border-radius: 30%;
}

footer .item-layout .item i {
    font-size: 2rem;
}







/*             */
/* Media Query */
/*             */
/* for mobile devices */
@media (max-width: 768px) {
    /*        */
    /* Header */
    /*        */
    nav .menu {
        display: block;
    }
    nav .page-title {
        margin-right: auto;
        margin-left: auto;
        font-size: 1rem;
    }
    nav .item-layout {
        margin-left: 0px;
    }
    nav .item-layout .item {
        display: none;
        margin-left: 0px;
    }
    nav .item-layout .item-fixed {
        margin-left: 0px;
    }

    nav .item-layout .item i , .item-fixed i{
        margin-left: 0px;
    }







    /*        */
    /*  main  */
    /*        */
    main {
        padding: 0% 7%;
    }

    /*  section (1)  */
    .section-1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .section-1 .left {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .section-1 .left h1 {
        font-size: 1.5rem;
        line-height: 30px;
        text-align: center;
    }

    .section-1 .left p {
        width: 100%;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .section-1 .left button {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .section-1 .right {
        background-position: center;
        background-size: contain, cover;
        justify-content: center;
        padding: 5% 1% 5% 5%;
    }

    .section-1 .right img {
        width: 60%;
    }





    /*  section (2)  */
    .section-2 .item-layout {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .section-2 .item-layout .item img {
        width: 50px;
    }









    /*  section (3)  */
    .section-3 {
        gap: 10px;
        margin-top: 50px;
    }

    .section-3 > h2 {
        font-size: 1.5rem;
        line-height: 50px;
    }

    .section-3 .item-layout {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .section-3 .item-layout .item p {
        font-size: 0.9rem;
        font-weight: 500;
    }







    /*  section (4)  */
    .section-4 {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-4 .left {
        padding: 10% 5%;
    }

    .section-4 .left img {
        width: 100%;
    }

    .section-4 .right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .section-4 .right h1 {
        font-size: 1.5rem;
        line-height: 35px;
        text-align: center;
    }

    .section-4 .right p {
        width: 100%;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
    }

    /*        */
    /* Footer */
    /*        */
    footer {
        padding: 8% 0%;
    }

    footer > h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    footer > p {
        font-size: 0.8rem;
        line-height: 12px;
    }

    footer .item-layout {
        gap: 10px;
    }

    footer .item-layout .item i {
        font-size: 1.5rem;
    }
}


/*             */
/* Media Query */
/*             */
/* for medium devices */
@media (min-width: 769px) and (max-width: 992px) {
    /*        */
    /* Header */
    /*        */
    nav .menu {
        display: block;
    }
    nav .page-title {
        margin-right: auto;
        margin-left: auto;
        font-size: 1rem;
    }
    nav .item-layout {
        margin-left: 0px;
    }
    nav .item-layout .item {
        display: none;
        margin-left: 0px;
    }
    nav .item-layout .item-fixed {
        margin-left: 0px;
    }

    nav .item-layout .item i , .item-fixed i{
        margin-left: 0px;
    }

    /*        */
    /*  main  */
    /*        */
    main {
        padding: 0% 7%;
    }

    /*  section (1)  */

    .section-1 .left {
        width: 65%;
    }

    .section-1 .left h1 {
        font-size: 2rem;
        line-height: 40px;
    }

    .section-1 .left p {
        width: 95%;
        font-size: 0.9rem;
        line-height: 20px;
    }

    .section-1 .left button {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8;
        padding: 10px 24px 10px 24px;
        border-radius: 41px;
        border: none;
        background: var(--primary-color);
        color: white;
    }

    .section-1 .right {
        width: calc(100% - 65% - 0px);
        background-image: url("../assets/images/Circle\ design.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        justify-content: center;
        padding: 5% 1% 5% 5%;
    }

    .section-1 .right img {
        width: 240px;
    }


    /*  section (3)  */
    .section-3 .item-layout {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


    /*  section (4)  */
    .section-4 {
        display: flex;
    }

    .section-4 .right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .section-4 .right h1 {
        font-size: 1.5rem;
        line-height: 35px;
        text-align: center;
    }

    .section-4 .right p {
        width: 100%;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: center;
    }

    /*        */
    /* Footer */
    /*        */
    footer {
        padding: 8% 0%;
    }

    footer > h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    footer > p {
        font-size: 0.8rem;
        line-height: 12px;
    }

    footer .item-layout {
        gap: 10px;
    }

    footer .item-layout .item i {
        font-size: 1.5rem;
    }
}
