body {
    margin: 0%;
    padding: 0%;
}

.main_section {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}

.section_1 {
    width: auto;
    height: fit-content;
    background-color: rgb(96, 163, 96);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
}

.section_1 div {
    margin: 5px;
    padding: 5px;
    color: gainsboro;
    font-size: 25px;
    font-weight:  800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2%;
}

.section_1 ul {
    width: auto;
    height: fit-content;
    display: flex;
    list-style: none;
    position: absolute;
    right: 2%;
}

.section_1 li {
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right:  15px;
    padding: 5px;
    color: gainsboro;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}






.section_2 {
    width: auto;
    height: fit-content;
    position: absolute;
    top: 12%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
}

.section_2 .div_1 {
    display: flex;
    align-items: center;
    position: absolute;
    left: 3%;
    top: 3%;
}

.section_2 .div_1 .text_1 {
    color: rgb(142, 144, 146);
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}

.section_2 .div_1 .text_2 {
    color: rgb(65, 74, 83);
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}

.section_2 .div_2 {
    display: flex;
    align-items: center;
    position: absolute;
    right: 3%;
    top: 3%;
}

.section_2 .div_2 img {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.section_2 .div_2 .text_1 {
    color: rgb(142, 144, 146);
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}

.section_2 .div_2 .text_2 {
    color: rgb(65, 74, 83);
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}









.section_3 {
    width: auto;
    height: fit-content;
    position: absolute;
    top: 18%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
}

.section_3 .div_1 {
    display: flex;
    align-items: center;
    position: absolute;
    left: 3%;
    top: 3%;
}

.section_3 .div_1 .text_1 {
    color: rgb(65, 74, 83);
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}

.section_3 .div_1 .text_2 {
    color: rgb(65, 74, 83);
    font-size: 15px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    margin-bottom: 2px;
}

.section_3 .div_2 {
    display: flex;
    align-items: center;
    position: absolute;
    right: 3%;
    top: 3%;
}

.section_3 .div_2 img {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}












.section_4 {
    width: auto;
    height: fit-content;
    position: absolute;
    top: 25%;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
}

.section_4 .div_item {
    width: 400px;
    height: 280px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
}

.section_4 .div_item .main_photo {
    width: 98%;
    height: 90%;
    padding: 1%;
    display: flex;
}

.section_4 .div_item .content_part {
    width: 100%;
    height: fit-content;
    display: flex;
    padding-bottom: 10px;
}

.section_4 .div_item .content_part .cn_part_1 {
    display: flex;
    padding: 1%;
    margin-right: auto;
}

.section_4 .div_item .content_part .icon {
    height: 12px;
    width: 12px;
    margin-left: 10px;
    margin-right: 2px;
}

.section_4 .div_item .content_part .cn_part_2 {
    display: flex;
    padding: 1%;
    margin-left: auto;
    align-items: center;
}

.section_4 .div_item .content_part .cn_part_2 .text {
    color: rgb(65, 74, 83);
    font-size: 12px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


