body {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;

}

main table {
    border-collapse: collapse;
}

main table td, th {
    border: 1px solid rgb(222, 222, 222);
    padding: 5px;
}